.error-message {
	color: red;
}

input,
select {

	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}

h2 {
	margin: 0;
}


button {
	min-width: 120px;
	padding: 10px 26px;
	background-color: #28a745;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}


button:hover {
	background-color: #218838;
}
#delete-button {
	background-color: red;
}
#cancel-button {
	background-color:#218838;
}
#delete-button,
#cancel-button {
	float: right;
	min-width: auto;
	margin: 16px 8px;
	padding: 10px 10px;
	width: 150px;
	border-radius: 10px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);
}

.dialog {
	background: white;
	border-radius: 20px;
	margin: auto;
	border: 0;
	padding: 0;
}

.form-wrapper {
	width: 450px;
	padding: 16px;	
}

.form {
	display: flex;
	flex-direction: column;

	margin: 40px 0;
}

.form input, select {
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
	padding: 0 12px;
	border-radius: 5px;
	border: 1px solid lightgray;
}

.form-checkbox {
	margin: 16px 0;
}
.form-checkbox input {
	height: initial;
	width: auto;
	margin: initial;
}
.form-checkbox label {
	font-size: 0.9em;
}


.form .form-row {
	display: flex;
	justify-content: space-between;
}

.form .form-container{
	width: 47%;
}

#checkbox {
	height: 20px;
	width: 20px;
	float: left;
}

.link {
margin-top: 20px;
}