.error-message {
	color: red;
	margin-bottom:16px;
}

input,
select {

	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}

h2 {
	margin: 0;
}


button {
	min-width: 120px;
	padding: 10px 26px;
	background-color: #28a745;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}

.red-button {
	background-color: red;
}
.red-button:hover {
	background-color: rgb(218, 74, 74);
}

.green-button {
	background-color:#218838;
}
.green-button:hover {
	background-color:#2f703d;
}
.red-button,
.green-button {
	float: left;
	min-width: auto;
	margin: 0px 8px 16px 0px;
	padding: 10px 10px;
	width: 150px;
	border-radius: 10px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);
}

.dialog {
	background: white;
	border-radius: 20px;
	margin: auto;
	border: 0;
	padding: 0;
}

.form-wrapper {
	width: 450px;
	padding: 16px;	
}

.form {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 35px 0;
}

.form input, select {
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
	padding: 0 12px;
	border-radius: 5px;
	border: 1px solid lightgray;
}

.form-checkbox {
	margin: 16px 0;
}
.form-checkbox input {
	height: initial;
	width: auto;
	margin: initial;
}
.form-checkbox label {
	font-size: 0.9em;
}


.form .form-row {
	display: flex;
	justify-content: space-between;
}

.form .form-container{
	width: 47%;
}

#checkbox {
	height: 20px;
	width: 20px;
	float: left;
}

.link {
margin-top: 20px;
}

#egfr-form {
	padding-top: 20px;
    display: inline-flex;
	align-items: center;
}

#egfr-form #input-container {
    display: flex;
	flex-direction: column;

}

#input-content {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

#input-content input {
	width: 200px;
}

#input-container text {
	font-size: 0.9em;
	margin-left: 8px;
}

#egfr-form button {
padding: 10px;
}