:root {
	--primary: #00CC3D;
    --primary-rgb: 0, 204, 61;
	--secondary: #B1FFDF;
    --secondary-rgb: 177, 238, 179;
    --accent: #64d0f8;
	--accent-rgb: 100, 208, 248;
	--primary-blue: #35C2F6;
    --primary-red: #FE1F18;
	--background: #F7FBFF;
    --background-rgb: 247, 251, 255;
	--text-black: #02353C;
	--text-white: #FFFF;
}

.error-message {
	color: red;
	margin-bottom:16px;
}

input,
select {

	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}

.form button:not(#toggle-password) {
	min-width: 120px;
	font-size: 18px;
	padding: 10px 26px;
	background-color: var(--text-black);
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}

.form button:hover {
	color: var(--text-black);
	background-color: #eeeeee;
}

#x-icon {
	width: 20px;
	height: auto;
	float: right;
}

.red-button {
	background-color: red;
}
.red-button:hover {
	background-color: rgb(218, 74, 74);
}

.green-button {
	background-color:#218838;
}
.green-button:hover {
	background-color:#2f703d;
}
.red-button,
.green-button {
	float: left;
	min-width: auto;
	margin: 0px 8px 16px 0px;
	padding: 10px 10px;
	width: 150px;
	border-radius: 10px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(7px);
}

.dialog {
	background: rgb(244, 254, 255);
	border-radius: 15px;
	margin: auto;
	border: 0;
	padding: 0;
}

.form-wrapper {
	width: 500px;
	padding: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	margin: 35px 0px;
	text-align: left;
}

.form input, select {
	height: 45px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 18px;
	padding: 0 12px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	border: 1px solid lightgray;
}

.form a {
	color: blue;
}

.form-checkbox {
	margin: 16px 0;
}
.form-checkbox input {
	height: initial;
	width: auto;
	margin: initial;
}

.form .form-row {
	display: flex;
	justify-content: space-between;
}

.form .form-container{
	width: 47%;
}

#checkbox {
	height: 20px;
	width: 20px;
	float: left;
}

.link {
margin-top: 20px;
}

#egfr-form {
	padding-top: 20px;
    display: inline-flex;
	align-items: center;
}

#egfr-form #input-container {
    display: flex;
	flex-direction: column;

}

#input-content {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

#input-content input {
	width: 200px;
}

#input-container text {
	margin-left: 8px;
}

#egfr-form button {
padding: 10px;
}

#password-wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
}

#password,
#signup-password,
#confirm-password {
width: 82%;
}

.form #toggle-password {
	margin-top: 5px;
	width: 60px;
	height: 45px;
	font-size: 18px;
	float: right;
	background-color: var(--text-black);
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	transition: all 0.3s ease 0s;
}

.form #toggle-password:hover {
	background-color: #eeeeee;
}

.form #toggle-password:hover #show-hide{
	filter: invert(0);
}

#show-hide {
	transition: all 0.3s ease 0s;
	filter: invert();
	height: 22px;
	width: auto;
}