#error-message {
	color: red;
}

input,
select {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}

button {
	min-width: 120px;
	padding: 10px 26px;
	background-color: #28a745;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}


button:hover {
	background-color: #218838;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
}

dialog {
	padding: 0;
}

.wrapper {
	padding: 16px;	
}

.login-form {
	padding: 10px 0px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}