
:root {
	--primary: #00CC3D;
	--primary-rgb: 0,204,61;
	--secondary: #B1FFDF;
	--secondary-rgb: 177,255,223;
	--accent: #64d0f8;
    --accent-rgb: 100, 208, 248;
	--background: #F7FBFF;
	--background-rgb: 247, 251, 255;
	--text-black: #02353C;
	--text-black-rgb: 2, 53, 60;
	--text-white: #FFFF;
}

body {
    font-family: 'Inter', 'sans-serif';  
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-size: 18px;
}

header {
display: inline-flex;
width: 100%;
height: 160px;
}

h1 {
	padding: 10px 0 27px 0;
	font-size: 44px;
}

h2 {
	font-weight: normal;
	font-size: 24px;
}

.header-container {
	float: right;
	width: 100%;
	padding: 22px;
	background: var(--accent);
	border-radius: 0px 0 0px 35px;
	color: var(--text-white);
}

.header-content {
	float: left;
}

.navigation-menu {
	height: 100%;
	width: 300px;
	float: right;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navigation-menu a {
	color: white;
	text-decoration: none;
}

.signout-button {
	background-color: transparent;
	border: 1px solid var(--text-white);
	border-radius: 20px;
	padding: 15px 30px;
}

.signout-button:hover {
	background: #ffffff2a;
}

#logo {
	height: 180px;
	width: auto;
	margin: 0 20px;
	
}

#welcome {
	min-width: 150px;
}

body {
	background-color: var(--background);
}

form {
	width: max-content;
}

.search {
	margin-top: 20px;
	width: max-content;
	display: flex;
	align-items: center;
	border-radius: 30px;
	background-color: #f4f4f4;
	transition: box-shadow 0.25s;
}

.search .dropdown button {
	background-color: #ededed;
	color: var(--text-black);
	border: 1px solid var(--text-black);
	width: 20px;
}

.search:focus-within {
	box-shadow: 0 0 2.5px rgba(var(--text-black-rgb),0.8)
}

.search img {
	height: 41px;
	width: auto;
	opacity: 0.3;
	margin: 15px;
}

.search-input {
	width: 400px;
	outline: none;
	border: none;
	background: transparent;
}

.search-input::placeholder {
	color: rgba(var(--text-black-rgb),0.3);
}

input,
select {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}

button {
	min-width: 120px;
	padding: 10px 26px;
	background-color: #28a745;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}


button:hover {
	background-color: #218838;
}

#result {
	margin-top: 20px;
}

.box-container {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    gap: 30px;
}

.box-bottom {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	width: max-content;
	gap: 20px;
	height: 700px;
}

.box-bottom h2 {
	color: var(--primary);
	margin-bottom: 25px;
}

#box-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
	width: 350px;
	height: 100%
}

#info-container {
	padding: 15px;
	background-color: rgba(var(--primary-rgb),0.3);
	border-radius: 15px;
    color: var(--primary);
}

#notes-container {
	background-color: rgba(var(--secondary-rgb),0.1);
	border-radius: 15px;
    height: 100%;
	padding: 15px;
}


#notes-container textarea {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid var(--primary);
	resize: none;
	width: 100%;
	height: 410px;
	padding: 10px;
}

.box-bottom #box-right {
	background-color: rgba(var(--primary-rgb),0.1);
	border-radius: 15px;
	padding: 30px;
	width: 800px;
	height: 100%;
}

#table-container {
	overflow-y: auto;
	width: 740px;
	max-height: 500px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.table-content thead tr {
	background-color: var(--primary);
    color: white;
	font-weight: bold;
	position: sticky;
	top: 0;
}

.table-content td:first-child {
    width: 70px;
}

.table-content .record-row:hover {
	background-color: rgb(244, 244, 255);
}
.table-content .record-row.active {
	background-color: rgb(210, 210, 255);
}

#select_all_ids,
.checkbox_ids {
	height: 18px;
	width: 18px;
}


.table-content th,
td {
	padding: 15px;
}

.table-content tbody tr {
	background-color: white;
	border-bottom: 1px solid #dddddd;
}

#chart-container {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 1170px;
    max-height: 500px;
}

.dropdown {
    float: right;
    margin: 20px;
}

.dropdown button {
    background-color: var(--text-black);
    color: var(--text-white);
	width: 170px;
	border-radius: 20px;
	padding: 10px 15px;
	pointer-events: none;
}

.dropdown a{
	display: block;
    color: var(--text-white);
	text-decoration: none;
	padding: 10px 15px;
}

.dropdown .content {
	display: none;
	position: absolute;
	border-radius: 5px;
	background-color: var(--text-black);
	width: 170px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	z-index: 1001;
}

.dropdown:hover .content {
	display: block;
}



.dropdown {
	display: inline-block;
}

#return-button {
	background-color: var(--accent);
	margin-top: 20px;
	border-radius: 10px;
	float: left;
}

#header,
#edit,
#delete {
	pointer-events: none;
	color: grey;
}
#header.enabled,
#edit.enabled,
#delete.enabled {
	pointer-events: initial;
    color: var(--text-white);
}

.dropdown a:hover,
#header.enabled:hover,
#edit.enabled:hover,
#delete.enabled:hover {
	background-color: white;
    color: var(--text-black);
}

#patient-dropdown {
	float: right;
	width: auto;
	margin: 20px;
}

#bottom-text {
    margin: 50px;
}