<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eGFR Calculator- Doctor</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form method="POST" action="./login.php>
        <button name="signout" type="submit">Sign Out</button>
    </form>
    
    <h1>Patient Page</h1>

    <div id="Graphresult"></div>

    <canvas id="egfr-chart" width="400" height="200"></canvas>

    <div id = "egfrvalueResult"></div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="patientdata.js"></script>
    
</body>
</html>
